<nav class="navbar text-center" style="background-color:#f0f0f0;">
<span class="navbar-brand mb-0 h1 text-center"> <img src ="../assets/images/train-on-railroad.png">Welcome To Indian Railways</span>
</nav>
<div class = "container-fluid">
<div class="row">
  <div class="col-md-2 col-lg-2">
  </div>
  <div class="col-md-8 col-lg-8">
<div class="card mt-5 ml-5" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
  <div class="card-body text-center" style="color:#333366;"><h5>Train Name : {{trainStatusDetails.train.name}} - {{trainStatusDetails.train.number}}</h5></div>
  <div class="card-body text-center" style="color:#ff5f5f;">
    <img src="../assets/images/magnifier.png" class="text-center">
    <hr>
    <h4>Running Status</h4>
    <div class="col-md-12" style="color:black;">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>Train Name</th>
            <td>{{trainStatusDetails.train.name}} </td>
          </tr>
          <tr>
            <th>Journey Station</th>
            <td>{{this.station}}</td>
          </tr>
          <tr>
            <th>Scheduled Arrival</th>
            <td>
              <div *ngIf="routeObj.scharr === 'Source' ; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock> {{routeObj.scharr}}</ng-template>
              <ng-template #elseBlock>  {{routeObj.scharr_date}} {{routeObj.scharr}}</ng-template>

            </td>
          </tr>
          <tr>
            <th>Scheduled Departure</th>
            <td>
              <div *ngIf="routeObj.schdep == 'Destination' ; then gotoDate else gotoDestination"></div>
              <ng-template #gotoDate> {{routeObj.schdep}}</ng-template>
              <ng-template #gotoDestination>{{routeObj.scharr_date}} {{routeObj.schdep}}</ng-template></td>
          </tr>
          <tr>
            <th>Expected Arrival</th>
            <td>{{routeObj.actarr_date}} {{routeObj.actarr}}</td>
          </tr>
          <tr>
            <th>Expected Departure</th>
            <td>{{routeObj.actarr_date}} {{routeObj.actdep}}</td>
          </tr>
          <tr>
            <th>Delay</th>
            <td>{{routeObj.status}}</td>
          </tr>
          <tr>
            <th>Last Location</th>
            <td>{{trainStatusDetails.position}}</td>
          </tr>
          <tr>
            <th>Distance from source</th>
            <td>{{routeObj.distance}}</td>
          </tr>
           <tr *ngIf="showNextStoppageStation">
            <th>Next Stoppage Station</th>
            <td>{{nextStoppage.station.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>
</div>
<div class="col-md-2 col-lg-2">
</div>
</div>
</div>
