<ngx-spinner></ngx-spinner>
<nav class="navbar text-center" style="background-color:#f0f0f0;">
<span class="navbar-brand mb-0 h1 text-center"> <img src ="../assets/images/train-on-railroad.png">Welcome To Indian Railways</span>
</nav>
<div class = "container-fluid">
<div class="row">
  <div class="col-md-2 col-lg-2">
  </div>
  <div class="col-md-8 col-lg-8">
<div class="card mt-5 ml-5" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
  <div class="card-body text-center" style="color:#333366;"><h5>Train Name : {{trainScheduledDetails.train.name}} {{trainScheduledDetails.train.number}} Running Schedule</h5></div>
  <div class="card-body text-center" style="color:#ff5f5f;">
    <img src="../assets/images/magnifier.png" class="text-center">
    <hr>
    <h4>Running Schedules</h4>
    <div class="col-md-12" style="color:black;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Station Running Days</th>
            <th scope="col">Arr/Dep</th>
            <th scope="col">Dist Kms</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let details of trainScheduledDetails.route; let i=index" >
            <td>{{i+1}}</td>
            <td>{{details.station.name}} {{details.station.code}} <br>
            Day : {{details.day}}<br>
            <div class="row">
              <div class="col-12">
               <div  *ngIf = "showFull; then showDays else showDaily"> </div>
                <ng-template #showDays>
                   <div *ngFor = "let days of runningDays">
                     <div *ngIf="days.runs == 'Y'">
                    {{days.code}}
                  </div>
                </div>
                </ng-template>
                <ng-template #showDaily>Daily</ng-template>
              </div>
              </div>
          </td>
            <td>{{details.scharr}} <br> {{details.schdep}}</td>
            <td>{{details.distance}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>
</div>
<div class="col-md-2 col-lg-2">
</div>
</div>
</div>
