

  <nav class="navbar text-center" style="background-color:#f0f0f0;">
  <span class="navbar-brand mb-0 h1 text-center"> <img src ="../assets/images/train-on-railroad.png">Welcome To Indian Railways</span>
</nav>
<div class = "container-fluid">
<div class="row">
  <div class="card mt-5 ml-5" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);width: 15rem;">
    <div class="card-body text-center" style="color:#333366;"><h4>Pnr Status</h4></div>
    <div class="card-body text-center" style="color:#ff5f5f;">
      <img src="../assets/images/map-spot1.png" class="text-center">
      <hr>
      <p>PNR is short name for 'Passenger Name Record'. It is a record in the database of Indian Railways computer reservation system (IR-CRS) against which journey details for a passenger, or a group of passengers are saved Copy.
      </p>

<!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" style="color:#333366; border-color:#333366;" data-toggle="modal" data-target="#exampleModalCenter"><strong>Check</strong></button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Check Pnr Status</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="needs-validation" novalidate [formGroup]="pnrform" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                  <label for="validationTooltip01">Enter Pnr Number</label>
                  <input type="text" formControlName="pnrNumber" class="form-control" id="validationTooltip01" placeholder="PNR No." placeholder="1234567890" required>
                  <span *ngIf="!pnrform.get('pnrNumber').valid && pnrform.get('pnrNumber').touched && pnrform.get('pnrNumber').dirty && pnrform.get('pnrNumber').touched"
                             class="help-block"> Please Enter pnr number of Atleast 10 digits</span>
                            </div>
            </div>
            </div>
            </form>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
              <button type="button" class="btn btn-primary" (click)="sendPnr();" [disabled]="pnrform.invalid" data-dismiss="modal">Check</button>
            </div>
          </div>
        </div>
      </div>

      </div>
</div>
<div class="card mt-5" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);width: 15rem;margin-left:104px;">
  <div class="card-body text-center" style="color:#333366;"><h4>Spot Your Train</h4></div>
  <div class="card-body text-center" style="color:#ff5f5f;">
    <img src="../assets/images/magnifier.png" class="text-center">
    <hr>
    <p>Enter valid five digit train number in the form above and hit 'Get Train Running Status' button.
A new web page will be opened with more detailed information about your queried train number.

    </p>

<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" style="color:#333366; border-color:#333366;" data-toggle="modal" data-target="#exampleModalCenter1"><strong>Check</strong></button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Check Train Running Status</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" novalidate [formGroup]="trainSpotform" (ngSubmit)="onSubmitTrainNo()">
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <div class="form-group">
                <label for="validationTooltip02">Enter Train Number</label>
                <input type="text" formControlName="trainNumber" class="form-control" id="validationTooltip02" placeholder="Train No." placeholder="12345" required (keyup)="enter($event);">
                <span *ngIf="!trainSpotform.get('trainNumber').valid && trainSpotform.get('trainNumber').touched && trainSpotform.get('trainNumber').dirty && trainSpotform.get('trainNumber').touched"
                           class="help-block"> Please Enter Train number of 5 digits</span>
                          </div>

                          <div class="form-group">
                         <label for="exampleFormControlSelect1">Select Journey Station</label>
                         <select class="form-control" id="exampleFormControlSelect1" (change)="pushData($event.target.value);" required>
                           <option>SELECT</option>
                           <option *ngFor="let select of trainStation.route" [value]="select.station.name">
                             {{select.station.name}}  <strong><p>{{select.station.code}}</p></strong>
                           </option>
                         </select>
                       </div>
                       <div class="form-group">
                      <label for="exampleFormControlSelect1"> Journey Date</label>
                      <select class="form-control" id="exampleFormControlSelect1" (change)="pushDate($event.target.value);" required>
                        <option>Select</option>
                        <option>Today</option>
                        <option>Tomorrow</option>
                        <option>Yesterday</option>
                        <!-- <option *ngFor="let select of trainDetails.route" [value]="select.station.name">
                          {{select.station.name}}  <strong><p>{{select.station.code}}</p></strong>
                        </option> -->
                      </select>
                    </div>

          </div>
          </div>
          </form>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="SpotTrainStatus();" [disabled]="trainSpotform.invalid" >Check</button>
          </div>
        </div>
      </div>
    </div>

    </div>
</div>
<div class="card mt-5" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);width: 15rem;margin-left:104px;">
  <div class="card-body text-center" style="color:#333366;"><h4>Train Schedule</h4></div>
  <div class="card-body text-center" style="color:#ff5f5f;">
    <img src="../assets/images/clock-circular-outline.png" class="text-center">
    <hr>
    <p>Please enter few characters of Train Name OR few digits of Train Number.
e.g. To get the train schedule for Himachal Express i.e. Train No. 14553 -- either enter himachal or 145
    </p>

<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" style="color:#333366; border-color:#333366;" data-toggle="modal" data-target="#exampleModalCenter2"><strong>Check</strong></button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Check Train Schedule</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form  [formGroup]="trainScheduleForm" (ngSubmit)="onSubmitTrainNo1();">
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <div class="form-group">
                <label for="validationTooltip">Enter Train Number</label>
                <input type="text" class="form-control"  formControlName = "trainNumber1"  id="validationTooltip" placeholder="Train No." placeholder="12345" required>
                <span *ngIf="!trainScheduleForm.get('trainNumber1').valid && trainScheduleForm.get('trainNumber1').touched && trainScheduleForm.get('trainNumber1').dirty && trainScheduleForm.get('trainNumber1').touched"
                           class="help-block"> Please Enter Train number of 5 digits</span>
                          </div>
          </div>
          </div>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
            <button type="button" class="btn btn-primary" (click)="sendTrain();" [disabled]="!trainScheduleForm.invalid" data-dismiss="modal">Check</button>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
</div>
</div>
