<ngx-spinner></ngx-spinner>
<nav class="navbar text-center" style="background-color:#f0f0f0;height:5rem;">
  <img src ="../assets/images/railway.png">
  <div class=" h1 text-center"> <h4 class="text-center"><strong>Welcome To Indian Railways</strong></h4></div>
</nav>
<div class = "container-fluid">
<div class="row">
    <div class="card mt-5" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);width: 15rem;margin-left:90px;">
      <div class="card-body text-center" style="color:#333366;"><h4>Pnr Status</h4></div>
      <div class="card-body text-center" style="color:#ff5f5f;">
        <img src="../assets/images/map-spot1.png" class="text-c enter">
        <hr>
        <p><strong>PNR is short name for 'Passenger Name Record'.Please enter a valid 10 digit PNR number</strong>
        </p>

  <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" style="color:#333366; border-color:#333366;" data-toggle="modal" data-target="#exampleModalCenter"><strong>Check</strong></button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Check Pnr Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="needs-validation" novalidate [formGroup]="pnrform" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                    <label for="validationTooltip01">Enter Pnr Number</label>
                    <input type="text" formControlName="pnrNumber" class="form-control" id="validationTooltip01" placeholder="PNR No." placeholder="1234567890" required>
                    <span *ngIf="!pnrform.get('pnrNumber').valid && pnrform.get('pnrNumber').touched && pnrform.get('pnrNumber').dirty && pnrform.get('pnrNumber').touched"
                               class="help-block"> Please Enter pnr number of Atleast 10 digits</span>
                              </div>
              </div>
              </div>
              </form>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-primary" (click)="sendPnr();" [disabled]="pnrform.invalid" data-dismiss="modal">Check</button>
              </div>
            </div>
          </div>
        </div>

        </div>
  </div>
  <div class="card mt-5" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);width: 15rem;margin-left:90px;">
  <div class="card-body text-center" style="color:#333366;"><h4>Train Schedule</h4></div>
  <div class="card-body text-center" style="color:#ff5f5f;">
    <img src="../assets/images/clock-circular-outline.png" class="text-center">
    <hr>
     <p><strong>Please enter few characters of Train Name OR few digits of Train Number.</strong>
</p>

<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" style="color:#333366; border-color:#333366;" data-toggle="modal" data-target="#exampleModalCenter4"><strong>Check</strong></button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Check train schedule</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" novalidate [formGroup]="trainForm" (ngSubmit)="onSubmitTrain()">
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <div class="form-group">
                <label for="validationTooltip01">Enter train Number</label>
                <input type="text" formControlName="train" class="form-control" id="validationTooltip01" placeholder="Train No." placeholder="12345" required>
                <span *ngIf="!trainForm.get('train').valid && trainForm.get('train').touched && trainForm.get('train').dirty && trainForm.get('train').touched"
                           class="help-block"> Please Enter train number of 5 digits</span>
                          </div>
          </div>
          </div>
        </form>

        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
            <button type="button" class="btn btn-primary" (click)="sendTrain();" [disabled]="trainForm.invalid" data-dismiss="modal">Check</button>
            <ngx-spinner></ngx-spinner>
          </div>
        </div>
      </div>
    </div>

    </div>
</div>
<div class="card mt-5" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);width: 15rem;margin-left:90px;">
  <div class="card-body text-center" style="color:#333366;"><h4>Train Between Stations</h4></div>
  <div class="card-body text-center" style="color:#ff5f5f;">
    <img src="../assets/images/distance-to-travel-between-two-points.png" class="text-center">
    <hr>
    <p>
<strong>Enter names of two stations source and destination and hit Get Trains Between button.</strong>
    </p>


<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" style="color:#333366; border-color:#333366;" data-toggle="modal" data-target="#exampleModalCenter3"><strong>Check</strong></button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Check train Between Stations </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="trainBetweenStationForm" novalidate>
            <div class="form-group" class="example-full-width" autocomplete="off">
                <input type="text" class="form-control" id="validationTooltip01" placeholder="Enter Source Station" formControlName="sourceStation"  (keyup)="getSourceList($event);"required>
              <!-- <input type="text" placeholder="Pick one" aria-label="Number" class="autocomplete" (keyup)="get($event);" required> -->

              <ul class="list-group text-center " *ngIf="showsourcelist">
                <a href="javascript:void()" class="list-group-item active" *ngFor="let list of sourceArr" (click)="selectSourceStation(list.name , list.code);">{{list.name}}</a>
            </ul>
            </div>

          <div class="form-group" class="example-full-width mt-5" autocomplete="off">
            <input type="text" class="form-control" id="validationTooltip02" placeholder="Enter Destination Station" formControlName="destinationStation" (keyup)="getDestinationList($event);" required>
            <ul class="list-group text-center" *ngIf="showdestinationlist">
              <a href="javascript:void()" class="list-group-item active" *ngFor="let list of destinationArr" (click)="selectDestinationStation(list.name , list.code);">{{list.name}}</a>
            </ul>
          </div>
            </form>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="searchTrainBetweenStations();" [disabled]="trainBetweenStationForm.invalid">Search Trains</button>
          </div>
        </div>
      </div>
    </div>

    </div>
</div>
<div class="card mt-5" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);width: 15rem;margin-right: auto;margin-left:90px;">
  <div class="card-body text-center" style="color:#333366;"><h4>Spot Your Train</h4></div>
  <div class="card-body text-center" style="color:#ff5f5f;">
    <img src="../assets/images/magnifier.png" class="text-center">
    <hr>
    <p><strong>Enter valid five digit train number in the form above and hit 'Get Train Running Status' button.</strong>
    </p>

<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" style="color:#333366; border-color:#333366;" data-toggle="modal" data-target="#exampleModalCenter1"><strong>Check</strong></button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Check Train Running Status</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" novalidate [formGroup]="trainSpotform" (ngSubmit)="onSubmitTrainNo()">
<div class="form-row">
  <div class="col-md-12 mb-3">
    <div class="form-group">
    <label for="validationTooltip02">Enter Train Number</label>
    <input type="text" formControlName="trainNumber" class="form-control" id="validationTooltip02" placeholder="Train No." placeholder="12345" required (keyup)="enter($event);">
    <span *ngIf="!trainSpotform.get('trainNumber').valid && trainSpotform.get('trainNumber').touched && trainSpotform.get('trainNumber').dirty && trainSpotform.get('trainNumber').touched"
               class="help-block"> Please Enter Train number of 5 digits</span>
              </div>
              <div *ngIf="showRest">
              <div class="form-group">
             <label for="exampleFormControlSelect1">Select Journey Station</label>
             <select class="form-control" id="exampleFormControlSelect1" (change)="pushData($event.target.value);" required>
               <option>SELECT</option>
               <option *ngFor="let select of route" [value]="select.station.name">
                 {{select.station.name}}  <strong><p>{{select.station.code}}</p></strong>
               </option>
             </select>
           </div>
           <div class="form-group">
          <label for="exampleFormControlSelect1"> Journey Date</label>
          <select class="form-control" id="exampleFormControlSelect1" (change)="pushDate($event.target.value);" required>
            <option>Select</option>
            <option>Today</option>
            <option>Tomorrow</option>
            <option>Yesterday</option>
          </select>
        </div>
      </div>
      </div>
      </div>
      </form>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
           <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="SpotTrainStatus();" [disabled]="trainSpotform.invalid" >Check</button>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
<marquee direction="left"><h3  class="mt-5" style="color:#f9e75e;">20 Must Read Facts About Indian Railways</h3></marquee>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-1">
    </div>
<div class="col-md-10 mt-5 mb-5" style="color:#f0f0f0;">
  <div class="row">
<h5>1. The first train in India ran on 16 th April 1853 from Bombay to Thane.</h5>
<h5>2. The mascot of Indian Railways is Bholu - the guard elephant.</h5>
<h5>3. The full track length of Indian Railways can circle the equator one-and-a-half times.</h5>
<h5>4. The first railroad was constructed by two Indians – Jaganath Shunkerseth and Jamsetjee Jeejeebhoy.</h5>
<h5>5. Metupalayam Ooty Nilgiri Passenger train is the slowest train in India. It runs at a speed of 10 kmph.</h5>
<h5>6. The total distance covered by Indian Railways daily equals three and a half times the distance to the moon.</h5>
<h5>7. With over 1.6 million employees, Indian Railways is the world's 9th largest employer.</h5>
<h5>8. Indian Railways is a monopoly. It is owned by the government.</h5>
<h5>9. Howrah-Amritsar Express has 115 stops, the record maximum for an Express train.
</h5>
<h5>10. Indian Railways carry more than 25 million passengers every day, more than the entire population of Australia.</h5>
<h5>11. In 1986, Indian Railways started its first computerized reservation in New Delhi.</h5>
<h5>12. The New Delhi Main Station, having the world's largest route relay interlocking system, has a place in the Guinness Book of Records.</h5>
<h5>13. With a length of 1366.33 metres, Gorakhpur in Uttar Pradesh is the longest platform in the world.</h5>
<h5>14. Indian Railways is one of the world's largest railway networks, with 115,000 kms of tracks and a route of 65,000 kms.</h5>
<h5>15.Venkatanarasimharajuvaripeta is the longest station name</h5>
<h5>16. Guwahati-Trivandrum Express is the most unreliable train in the country. The average delay in the journey is 10-12 hours.</h5>
<h5>17. The world’s highest railway bridge is being built over Chenab. It will dwarf the Eiffel Tower.</h5>
<h5>18. There are 7,500 railway stations in India.</h5>
<h5>19. For more than 50 years, there were no toilets on Indian Railways.</h5>
<h5>20. A mobile app system to track train schedules has been introduced by Indian Railways in 2014.</h5>
<hr>
</div>
</div>
<div class="col-md-1">
</div>
<hr>
</div>
</div>
<div class="col-md-12 mb-5 text-center" style="color:#333366;text-align:right;font-family:Comic Sans MS;background-color:#f0f0f0;height:4rem;">Thanks to my parents and friends for bringing out the best in me
<p>@CopyRight Designed by Komal Mishra</div>

<div class="fixed-bottom text-center" style="color:#ff5f5f;background-color:#f0f0f0;height:3rem;"><div class="mt-3"><strong>Indian Railways Welcomes You</strong></div></div>
</div>
</div>
